.mt{
margin-top:30px;
margin-bottom:30px;
}
.navbar-text{
width:90%
}
.navbar-text li a{
color:black;
}
.nav-pills{
padding:0px 0px 0 15px;

}
.btn1{
margin:10px 2px;
padding:5px 10px;
border-radius:8px;
border:none;
background:#e7e7e7;
}
.mb-3{
padding:10px 0px 0px 0px;
}
.mb-3 hr{
margin:0 0 2px 0;
}
.ownwell{
border:solid #fbd2ff;
background:#fbd2ff;
border-radius:25px;
padding:20px;
height:130px;
width:100%;
margin:0px;
}
.btn2{
margin:10px 2px;
padding:5px 10px;
border-radius:12px;
border:none;
background:white;
float:right;
}
.ownwell span{

}